albumentations
altair
asttokens
attrs
backcall
bdpy
black
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
debugpy
decorator
docker-pycreds
entrypoints
executing
gitdb
GitPython
h5py
hdf5storage
idna
imageio
importlib-metadata
ipykernel
ipython
ipywidgets
jedi0
Jinja
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-widgets
lightgbm
MarkupSafe
matplotlib-inline
mido
mypy-extensions
nest-asyncio
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
parso
pathspec
pathtools
pickleshare
Pillow
platformdirs
pretty-midi
promise
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pychord
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
qudida
requests
rich
scikit-image
scikit-learn
scipy
semver
sentry-sdk
shortuuid
six
sklearn
smmap
stack-data
streamlit
termcolor
threadpoolctl
tifffile
toml
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib
validators
watchdog
wcwidth
widgetsnbextension
xgboost
yaspin
zipp
